<div class="users-container">
    <!-- Comment box -->
    <div *ngIf="selectedUserId" class="comments-box">
      <!-- Close button -->
     
  
      <!-- Your comment content goes here -->
      <!-- Replace this with your actual comments -->
      <h1 class="text-style">{{ selectedUserEmail }}</h1> 
      <button class="close-button" mat-icon-button (click)="toggleBox(selectedUserId)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  
    <!-- User list -->
    <div *ngFor="let user of getAllUsers$ | async" class="text-style">
      {{ user.email }}
      <button mat-stroked-button color="primary" (click)="toggleBox(user.id)">Show Comments</button>
    </div>
  </div>
  